<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>СарИсскуство</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-grid.min.css">

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/medias.css">

    <script src="js/bootstrap.min.js"></script>

</head>
<body class="main-page">
<header class="container-fluid">
    <div class="row">
        <div class="col-2 logo-col"><img src="images/icon.png"></div>
        <div class="col-10">
            <div class="row header-upper-column">
                <div class="col-2 page-title">SarИсскуство</div>

                <!--PC and Tablet-->
                <div class="col-6 d-none d-md-block d-lg-block"></div>
                <button class="col-sm btn btn-link d-none d-md-block d-lg-block">
                    <i class="material-icons link-ico">face</i> Login
                </button>
                <button class="col-sm btn btn-link d-none d-md-block d-lg-block">
                    <i class="material-icons link-ico">perm_identity</i> Register
                </button>
                <div class="col-sm d-none d-md-block d-lg-block"></div>

                <!--Mobile-->
                <div class="col-4 d-md-none"></div>
                <div class="col d-md-none flex-end-align">
                    <button class="btn btn-outline-light header-btn"><i class="material-icons">search</i></button>
                    <button class="btn btn-outline-light header-btn"><i class="material-icons">shopping_cart</i></button>
                </div>
            </div>
            <div class="row d-none d-md-flex d-lg-flex">
                <div class="col-sm"><a href="index.html" class="btn btn-outline-light">Домашняя</a></div>
                <div class="col-sm"><button class="btn btn-outline-light outl-btn-disbaled">Галерея</button></div>
                <div class="col-sm"><button class="btn btn-outline-light outl-btn-disbaled">Заказ</button></div>
                <div class="col-sm header-menu-btns">
                    <button class="btn btn-outline-light header-btn"><i class="material-icons">search</i></button>
                    <button class="btn btn-outline-light header-btn"><i class="material-icons">shopping_cart</i></button>
                </div>

            </div>
        </div>
    </div>
</header>

<div class="content container">
    <div class="flex-wrap mb-md-5 my-5">
        <div class="col-auto img-col flex-wrap flex-column">
            <img src="images/shop/i0000000001.jpg" />
            <button type="submit" class="btn btn-dark my-3">Изменить</button>
        </div>
        <form class="col admin-form">
            <h3 class="mb-3">Редактирование сотрудника: #000213</h3>
            <div class="row mb-3">
                <label for="name" class="col-2 mb-0">Имя:</label>
                <input id="name" type="text" class="form-control col-4" placeholder="Введите имя" value="Иванов Андрей" />
            </div>
            <div class="row mb-3">
                <label for="access" class="col-2 mb-0">Права:</label>
                <select name="access" id="access" class="col-4 form-control">
                    <option>Нет</option>
                    <option>Модератор</option>
                    <option>Администратор</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
</div>

<footer>

</footer>
</body>
</html>